<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/video">Video</a></li>
        <li><a href="/admin">Admin</a></li>
      </ul>
    </nav>
   
   <div class="videos">
  <ul>
    <li>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ryljIay9gP0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <p><strong><strong>Total Likes:</strong></strong> 10</p>
      <p><strong>Comments:</strong> 5</p>
      <button>Delete</button>
    </li>
    <li>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/MArLl3XbN8Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <p><strong>Total Likes:</strong> 20</p>
      <p><strong>Comments:</strong> 7</p>
      <button>Delete</button>
    </li>
    <li>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/LnQI6W5NYAM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <p><strong>Total Likes:</strong> 15</p>
      <p><strong>Comments:</strong> 4</p>
      <button>Delete</button>
    </li>
    <li>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ryljIay9gP0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <p><strong>Total Likes:</strong> 8</p>
      <p><strong>Comments:</strong> 3</p>
      <button>Delete</button>
    </li>
    <li>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/usSZdwl5Fvo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <p><strong>Total Likes:</strong> 12</p>
      <p><strong>Comments:</strong> 6</p>
      <button>Delete</button>
    </li>
    <li>
         <li>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ryljIay9gP0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <p><strong>Total Likes:</strong> 10</p>
      <p><strong>Comments:</strong> 1</p>
      <button>Delete</button>
    </li>
    <li>
          </div>

  </body>
</html>